<div class="top-container">
    <app-header (click)="drawer.toggle()"></app-header>
</div>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>

        <app-sidebar></app-sidebar>

    </mat-drawer>
    <div class="user-wrapper">
        <mat-card class="user-card">
            <mat-card-header>
                <mat-card-title *ngIf="!countryId">Add Country</mat-card-title>
                <mat-card-title *ngIf="countryId">Update Country</mat-card-title>
                <mat-card-subtitle>Enter following Details </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="countryForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Country Name</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="countryForm.get('name')?.hasError('required')">This is a Required Field</mat-error>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <span>
                    <button *ngIf="!countryId" mat-stroked-button color="primary" type="submit" (click)="addCountry()">Add Country</button>
                    <button *ngIf="countryId" mat-stroked-button color="primary" type="submit" (click)="editCountry()">Update Country</button>
                    <button mat-stroked-button color="primary" type="button" routerLink="/dashboard">Cancel</button>
                </span>
            </mat-card-actions>
        </mat-card>
    </div>
</mat-drawer-container>