<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>

        <mat-list>
            <!-- Dashboard link -->
            <mat-list-item [routerLink]="'/dashboard'">
                <mat-icon matListItemIcon>dashboard</mat-icon>
                <div matLine>Dashboard</div>
            </mat-list-item>

            <!-- Loop through filteredRoutes array -->
            <mat-list-item *ngFor="let route of filteredRoutes; trackBy: trackByRouteId" [routerLink]="route.route" [routerLinkActive]="['active-link']">
                <mat-icon matListItemIcon>{{ getIconForRoute(route.route) }}</mat-icon>
                <div matLine>{{ route.route }}</div>
            </mat-list-item>
        </mat-list>

    </mat-drawer>
    <div class="side-container">
        <div class="top-container">
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span>Dashboard</span>
                    <span class="example-spacer"></span>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <span> Hi, {{currentUser?.first_name}}</span>
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logout()">log out</button>
                    </mat-menu>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
        <div class="lower-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>