.side-container{display: flex;flex-direction: column;min-height: 100vh;
    .top-container{display: flex;position: sticky;top: 0;right: 0;z-index: 1000;}}
p{margin: 0 0 0 0;}
.top-container{display: flex;position: sticky;top: 0;right: 0;z-index: 1000;}
.lower-container-x{display: flex;justify-content: center;align-items: flex-start;flex-direction: column;}

.sidenav{width: 100%;max-width: 240px;}
.example-spacer {flex: 1 1 auto;}
.active-link{background-color: #f0ebf8;};
.header-content{display: flex; align-items: center;
  .panel-header-label{margin-left: 10px;font-size: 16px;}}
  .accordion{margin-top: 50px;}
  .container{display: flex;align-items: flex-end;background-color: aliceblue; padding: 20px;flex-direction: column-reverse;max-width: 800px; width: 100%;}
.pie-chart-container{display: flex;width: fit-content;margin-top: 20px;
    .country-div{background-color: #d3eafe;}
    .state-div{background-color: #ece5ee ;margin: 0 20px;}
    .city-div{background-color: #feecd4;}
    .title{font-size: 20px;margin: 10px;}

}
