<div class="user-wrapper">
    <mat-card class="user-card">
        <mat-card-header>
            <mat-card-title>Welcome</mat-card-title>
            <mat-card-subtitle>Enter following Details to <strong>signUp</strong></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="userForm">
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="first_name">
                    <mat-error *ngIf="userForm.get('first_name')?.hasError('required')">This is a Required Field</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="last_name">
                    <mat-error *ngIf="userForm.get('last_name')?.hasError('required')">This is a Required Field</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Mobile No.</mat-label>
                    <input matInput formControlName="mobile">
                    <mat-error *ngIf="userForm.get('mobile')?.hasError('required')">This is a Required Field</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="userForm.get('email')?.hasError('required')">This is a Required Field</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Choose your Role</mat-label>
                    <mat-select formControlName="role">
                        <mat-option value="1">Admin</mat-option>
                        <mat-option value="2">Employee</mat-option>
                    </mat-select>
                    <mat-error *ngIf="userForm.get('role')?.hasError('required')">This is a Required Field</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userForm.get('password')?.hasError('required')">This is a Required Field</mat-error>
                    <mat-error *ngIf="userForm.get('password')?.hasError('pattern')">Enter Valid Password</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirm_password">
                    <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideConfirm">
                        <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userForm.get('confirm_password')?.hasError('passwordMismatch')">Password not Matching</mat-error>
                </mat-form-field>
                <div class="selection-div">
                    <mat-form-field appearance="fill">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country" (selectionChange)="getStates()">
                            <mat-option *ngFor="let country of countries" [value]="country.id">
                                {{ country.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="state" (selectionChange)="getCites()">
                            <mat-option *ngFor="let state of states" [value]="state.id">
                                {{ state.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="city">
                            <mat-option *ngFor="let city of cities" [value]="city.id">
                                {{ city.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-card-actions>
                    <span>
                        <button mat-stroked-button color="primary" type="submit" (click)="signup()">Sign Up</button>
                    </span>
                </mat-card-actions>
                <p>Already have an Account? <a routerLink="/login"> login</a></p>
            </form>
        </mat-card-content>
    </mat-card>
</div>