  .svg {
    position: absolute;
    top: 50%;
    left: 30%;
    margin-top: -250px;
    margin-left: -400px;
  }
  
  .message-box {
    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 60%;
    margin-left: 50px;
    color: black;
    font-family: Roboto;
    font-weight: 300;
  }

  
  
  
  