<div class="top-container">
    <button mat-icon-button color="accent" (click)="drawer.toggle()" class="example-icon close-button">
        <mat-icon>menu</mat-icon>
    </button>
    <app-header></app-header>
</div>
<mat-drawer-container class="example-container" autosize>

    <mat-drawer #drawer class="sidenav" mode="side" opened>

        <app-sidebar></app-sidebar>

    </mat-drawer>

    <div class="user-wrapper">
        <mat-card class="user-card tab-card">
            <mat-card-header>
                <mat-card-title>Lazy Loaded Tabs</mat-card-title>
                <mat-card-subtitle>Click on State to load Employee Details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group animationDuration="500ms">
                    <ng-container *ngFor="let state of states">
                        <mat-tab>
                            <ng-template matTabLabel>
                                <div (click)="getEmployeeInState(state.id)" class="tab-label">
                                    {{state.name}}
                                </div>
                            </ng-template>
                            <ng-template matTabContent>
                                <mat-list>
                                    <mat-list-item *ngFor="let user of employee">
                                        <mat-icon matListItemIcon>account_circle</mat-icon>
                                        <div matListItemTitle>{{user.first_name}}</div>
                                        <div matListItemLine>{{user.last_name}}</div>
                                    </mat-list-item>
                                    <mat-list-item *ngIf="employee?.length === 0">
                                        <mat-icon matListItemIcon>report</mat-icon>
                                        <div matListItemTitle>No Employee in State</div>
                                        <div matListItemLine>---</div>
                                    </mat-list-item>
                                </mat-list>
                            </ng-template>
                        </mat-tab>
                    </ng-container>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>

</mat-drawer-container>