@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*{margin: 0;padding: 0;}
app-info{margin: 20px;}

.user-wrapper{display: flex;min-height: calc( 100vh - 80px);min-width:calc(100vw - 260px);
    .user-card{margin: auto;width: 100%;max-width: 600px;
        form{margin: auto;width: 100%;max-width: 500px;}
        mat-form-field{width: 100%;}
    }}